/* apple core = #DCC7AA */

.navbar-light .navbar-nav .nav-link {
    color: black;
}

header {
    background-color: #F7882F;
    /* Apricot */
    margin-bottom: 1%;
}

#right {
    margin-left: auto!important;
    margin-right: 2%;
}

img {
    margin-right: 2%;
    margin-bottom: 2%;
}

body {
    background-color: #6B7A8F;
    /* Blueberry */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

a { color: inherit; 
    text-decoration: none;
} 

.navbar {
    padding: 0%;
}

#jumbotron_container {
    background: url('Images/jumbotron.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


footer {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #DCC7AA;
    margin-bottom: 0%;
    margin-top: 1%;
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer_list {
    display: inline-block;
    padding-right: 2%;
}

h1 {
    color:white;
    background-color: #F7C331;
    /* Citrus */
    border-radius: 3px;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 200%;
    margin-left: 10px;    
    margin-bottom: 0%;
}

h2 {
    color: #6B7A8F;
    padding-top: 5%;
    padding-bottom: 5%;
}

h3 {
    font-size: 175%;
    text-align: center;
    color: #6B7A8F;
    padding-top: 2%;
}

h5 {
    font-size: 275%;
    padding-top: 12%;
    padding-left: 15%;
    padding-bottom: 25%;
    color: white;
}
h6 {
    color: #6B7A8F;
    padding: 1%;
    padding-right: 3%;
}

#info {
    background-color: white;
    margin: auto;
    margin-top: 40px;
}

.tableauPlaceholder {
    max-width: 100%;
}

.contact a {
    color: blue;
    font-size: 150%;
}

hr {
    margin-top: 0%;
    margin-bottom: 10%;
}


table {
    margin: auto;
    border-collapse: separate;
}

.contact hr {
    margin: 2%;

}

#info img {
    float: left;
}

#img_box {
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 90%;
}

.logo {
    margin: auto;
    padding-bottom: 1%;
}

/*---Media Queries --*/
@media (max-width: 992px) {
   
}
@media (max-width: 768px) {
    #info, #comp_info, #data_info{
        margin-left: 0px;
        margin-top: 0px;
    }
    header {
        background-color: #F7C331;
        margin-bottom: 0%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    #comp_info .column {
        flex: 100%;
        max-width: 100%;
    }
}
@media (max-width: 576) {
    #info, #comp_info, #data_info{
        margin-left: 0px;
        margin-top: 0px;
    }

    #comp_info .column {
        flex: 100%;
        max-width: 100%;
    }
}
